@import meyer-reset
// Variables
$accent-color: #5b7fff
$animation-duration: 500ms



// General Styling
*,
*:before,
*:after
    box-sizing: border-box


// Typography
body
    font:
        family: 'Roboto', 'Helvetica Neue', helvetica, verdana, sans-serif
        size:   24px
    text-align: center
    color: rgba(255,255,255,0.9)
    -webkit-font-smoothing: antialiased

a
    color: white
    cursor: pointer
    text-decoration: none

a:hover .scroll
    animation: pulse $animation-duration infinite ease-in-out alternate
    color: $accent-color
    outline: none
    border: none

@keyframes pulse
    0%
        transform: scale(1)
    100%
        transform: scale(1.15)

.scroll
    font-size: 3em
    transition: $animation-duration all ease-in-out

.section-header
    color: $accent-color
    font-size: 2em
    padding: 0.5em

strong
    font-weight: 800

// Grid
.content-section
    width: 100%
    height: 100vh
    position: relative

.vert-center
    width: 100%
    padding: 1.25em
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)


// Intro Section
#intro
    background:
        image: url("../img/classPhoto.jpg")
        size: cover
        position: center

.magnet-logo
    width: 35%
    height: auto

.intro-caption
    margin-bottom: 2em

.intro-title
    font:
        family: 'Roboto'
        size:   3em
        weight: 100
    margin-bottom: 1em


// Links Section
#links
    background-color: white

@media screen and (max-width: 760px)
    body
        font-size: 20px

@media screen and (max-width: 550px)
    body
        font-size: 18px
